<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="namespace_tab" translate="label" sortOrder="1">
            <label>Placeholder</label>
        </tab>
        <section id="placeholder_section" translate="label" sortOrder="1" showInDefault="1"
                 showInWebsite="1" showInStore="1">
            <label>Placeholder</label>
            <tab>namespace_tab</tab>
            <resource>Namespace_Modulename::system_config</resource>
            <group id="placeholder_group" translate="label" type="text" sortOrder="1" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>Placeholder Section</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Placeholder</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="paragraph" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Paragraph</label>
                </field>
                <field id="image_upload" translate="label" type="image" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Image Upload</label>
                    <backend_model>Test\Project\Model\Config\Backend\Image</backend_model>
                    <base_url type="media" scope_info="1">placeholder/image</base_url>
                    <comment><![CDATA[Allowed file types: jpg, jpeg, gif, png, svg]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
