<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Module_Store:etc/config.xsd">
    <default>
        <placeholder_section>
            <placeholder_group>
                <enable>1</enable>
                <title>Default Title</title>
                <paragraph>Default Paragraph</paragraph>
            </placeholder_group>
        </placeholder_section>
    </default>
</config>
