# SOZO Magento 2 .gitignore

# IntelliJ project files
.idea
*.iml
.DS_Store

# Magento files
/magento/node_modules/
/magento/vendor/
/magento/var/
/magento/wp/
/magento/.htaccess
/magento/.htaccess.sample
/magento/.php_cs
/magento/.php_cs.dist
/magento/.travis.yml
/magento/.user.ini
/magento/.github/
/magento/auth.json.sample
/magento/CHANGELOG.md
/magento/CONTRIBUTING.md
/magento/COPYING.txt
/magento/grunt-config.json.sample
/magento/Gruntfile.js
/magento/Gruntfile.js.sample
/magento/index.php
/magento/ISSUE_TEMPLATE.md
/magento/LICENSE.txt
/magento/LICENSE_AFL.txt
/magento/nginx.conf.sample
/magento/package.json
/magento/package.json.sample
/magento/package-lock.json
/magento/php.ini.sample
/magento/PULL_REQUEST_TEMPLATE.md
/magento/app/.htaccess
/magento/app/autoload.php
/magento/app/bootstrap.php
/magento/app/etc/di.xml
/magento/app/etc/NonComposerComponentRegistration.php
/magento/app/etc/vendor_path.php
/magento/app/functions.php
/magento/bin/
!/magento/bin/ubdatamigration
/magento/dev/
!/magento/dev/db-setup.php
/magento/generated/
/magento/lib/.htaccess
/magento/lib/internal/LinLibertineFont/
/magento/lib/internal/GnuFreeFont/
/magento/lib/web/
/magento/phpserver/
/magento/pub/.htaccess
/magento/pub/.user.ini
/magento/pub/cron.php
/magento/pub/get.php
/magento/pub/health_check.php
/magento/pub/index.php
/magento/pub/static.php
/magento/pub/errors/.htaccess
/magento/pub/errors/404.php
/magento/pub/errors/503.php
/magento/pub/errors/default/
/magento/pub/errors/design.xml
/magento/pub/errors/local.xml.sample
/magento/pub/errors/noCache.php
/magento/pub/errors/processor.php
/magento/pub/errors/processorFactory.php
/magento/pub/errors/report.php
/magento/pub/opt/
/magento/pub/media/
/magento/pub/static/
/magento/setup/
/magento/sitemap/
/magento/update/
/magento/var/.htaccess
/magento/var/.regenerate
/magento/var/.setup_cronjob_status
/magento/var/.update_cronjob_status
/magento/var/cache/
/magento/var/generation/
/magento/var/page_cache/
/magento/var/view_preprocessed/
/magento/var/di/
/magento/var/log/
/magento/var/catalog*.csv
/magento/var/importexport*
!/magento/composer.lock
.php_cs.cache
.editorconfig
.travis.yml.sample
SECURITY.md


# Dev project files
/magento/phpinfo.php
/dev-scripts
/logs/
/tmp/
/*.log
/.env.*
!/.env.sample
/Gemfile.lock
/magento/pub/ub-tool/protected/runtime/ub_data_migration.log
/testing/
